@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #EEF9BF;

  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  color: #75B79E;

  text-align: center;
}

.game-container {
  min-width: 76%;
  max-width: 76%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  perspective: 1000px;
}

.card {
  width: 117px;
  height: 146px;
  margin: 16px;
  position: relative;
  border-radius: 5px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;

  background: #A7E9AF;
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* box-shadow: 1px 1px 1px rgba(0,0,0,.3); */
}



.card-front,
.card-back {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  backface-visibility: hidden;
}

.card img {
  width: 80%;
  object-fit: contain;

}

.card-front {
  transform: rotateY(180deg);
}


.card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.card.flip {
  transform: rotateY(180deg);
}

.card.matched {
  transform: scale(1.1);
  transition: transform .2s;
  transform: rotateY(180deg);
}